* {
    box-sizing: border-box;
    font-family: sans-serif;
}
h3 {
    text-transform:uppercase;
}
/* body */
    body {
        margin: 0;
        width: 100%;
    }

/* header */
    header {
        display: block;
        width: 100%;
        height: 10vh;
        /* background-color: white; */
    }

    .nav-logo {
        font-size: 25px;
        padding-left: 15px;
        float: left;
        margin: 15px;
    }

    .nav-logo a {
        text-decoration: none;
    }

    nav ul {
        list-style-type: none;
        padding-right: 40px;
        /* top: 0; */
        overflow: hidden;
        background-color: white;
        float: right;
    }

    nav li {
        float: left;
    }

    nav li a {
        display: block;
        color: black;
        /*text-align: center;*/
        padding: 15px 15px;
        text-decoration: none;
        font-size: 18px;
    }

    nav li a:hover {
        color: red;
    }
   
    .burger  {
        float: right;
        display: none;
        margin: 15px;
        cursor: pointer;
    }

    .burger  div{
        width: 25px;
        height: 2px;
        background-color: black;
        margin: 5px;
    }

/* body */
    .photo img  { 
        float: left;
        width: 100%;
        object-fit: contain;
    }

/* about me */
    .about_me {
        display: inline-block;
        position: static;
        width: 100%;
        margin: 20px;
        /* text-align: center; */
        /* height: 35%; */
    }
    .about_me h3, .project_image h3 {
        padding-bottom: 10px;
        font-size: 20px;
        text-align: center;
        
    }
    #image_right {
        width: 40%;
        height: auto;
        float: right;
        right: 0;
    }

    
    .about_me img{
        width: 400px;
        height: 300px;
        object-fit: cover;
        /* float: right; */
    }
    #txt {
        display: inline-block;
        width: 45%;
        margin-left: 15%;
    }
    #txt h4 {
        overflow: hidden;
        white-space: nowrap;
        margin: 0 auto;
        animation: 
            typing 3s steps(40,end),blink-caret .75s step-end infinite;
    }
    @keyframes typing{
        form {width:0}
        to {width: 100%}
    }
    @keyframes blink-caret {
        from, to { border-color: transparent }
        50% { border-color: orange; }
      }
/* project */ 
    .project_image {
        width: 100%;
        display: block;
        position: static;
        /* float: left; */
        /* text-align: center; */
    }
    .image_set {
        position: inherit;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        /* width: 50%; */
    }
    .project_image p {
        display: block;
        font-size: 20px;
        text-align: center;
    }
    .project_image img{
        width: 400px;
        height: 350px;
        object-fit: contain;
        margin: 20px;
        text-align: center;
    }

    .image_set img:hover {
        -moz-box-shadow: 0 0 20px #ccc;
        -webkit-box-shadow: 0 0 10px #ccc;
        box-shadow: 0 0 30px #ccc;
    }
/* project Description */
    .aboutMe {
        width: 100%;
        position:relative;
        margin:auto;
    }

    .aboutMe a{
        position:fixed;
    }

    .project {
        display: none;
        text-align: center; 
    }

    .project_desc h5{
        text-align:center;
        font-size: 25px;
    }

    .project img{
        position: relative;
        vertical-align: center;
        object-fit: contain;
        margin: auto;
        width: 500px;
        height: 400px;
    }
    
    .project li{
        list-style-type: none;

    }
    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -22px;
        color: black;
        font-weight: bold;
        font-size: 25px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }

    .next {
        right: 0;
        border-radius: 3px 0 0 3px; 
    }
/* contact */

   
    .contact {
        width: 100%;
        padding-top: 30px;
        border: none;
        text-align: center;
        display: inline-block;
        cursor: pointer;
        /* height: 200px; */
        /* position: static; */
    }

     .open-button{
        width: auto;
        padding: 15px;
        border-radius: 20px;
        font-size: 15px;
        text-transform:uppercase;
        border: 1.5px solid #000;
    }

    .open-button:hover {
        background: #000;
        color: #fff;
    }

    .open-button:active {
        top:2px;

    }
    .open-button {
        font-size: 18px;

    }
    .form-popup {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        z-index: 1;
        width: 100%;
        height: 100%;
        transform: translate(-50%,-50%);
        overflow: auto;
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }
    
    .form-container {
        width: 700px;
        margin: auto;
        top: 50%;
        position: fixed;
        left: 50%;
        transform: translate(-50%,-50%);
        background-color: #fefefe;
        padding: 50px;
    }

    .form-container label {
        display: inline-block;
        text-align: center;
        padding-top: 30px;
        font-size: 20px;
        /* padding: 20px; */
    }

    
   
    .close {
        float: right;
        font-weight: bold;
        font-size: 30px;
    }

    .close:hover,
    .close:focus {
        text-decoration: none;
        cursor: pointer;
    }
/* footer */
footer {
    display: block;
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    margin-top: 50px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
}
/*
@media screen(min-width: 768px) and (max-width: 1024px) {
   
}
*/
@media screen and (max-width: 760px){
    body {
        overflow-x: hidden;
    }
    
    .nav-logo {
        font-size: 20px;
    
    }

    .nav-links{
        display: flex;
        position: absolute;
        width: 100%;
        height: auto;
        left:0;
        /*right:0;*/
        top: 8vh;
        background-color: white;
        flex-direction: column;
        align-items: center;
        transform: translate(100%);
        /*opacity: 0.4; */
        transition: transform 0.5s ease-in-out;
    }
    
    .nav-links li {
        padding-bottom: 10px;
        font-size: 10px;
    }
    
    .burger {
        display: block;
    }
    /* about me */
    .about_me {
        margin: 30px;
    
    }
    .about_me #txt{
        width: 100%;
        display: block;
        
    }
    
    /* Responsive font-size change */ 
    .about_me h3, .project_image h3 {
        font-size: 16px;
    }
    #txt h4 {
        font-size: 14px;
    }
    #txt p {
        font-size: 12px;
    }
  

    #image_right{
        display: none;
    }

    .project img {
        width: 350px;
        height: 350px;
        
    }
    .form-container {
        width: 100%;
      
    }

}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}