* {
    box-sizing: border-box;
}
/* body */
    body {
        margin: 0;
        width: 100%;
    }

/* header */
    header {
        display: block;
        width: 100%;
        height: 10vh;
        margin-top: 10px;
    }

    .nav-logo {
        font-size: 30px;
        font-family: Didot;
        text-align: -webkit-center;
        padding-left: 20px;
        float: left;
        margin: 15px;
    }

    .nav-logo a {
        text-decoration: none;
    }

    nav ul {
        list-style-type: none;
        padding-right: 40px;
        /* top: 0; */
        overflow: hidden;
        background-color: white;
        float: right;
    }

    nav li {
        float: left;
    }

    nav li a {
        display: block;
        color: black;
        /*text-align: center;*/
        padding: 15px 15px;
        text-decoration: none;
        font-size: 18px;
    }
    
    nav li a:hover {
        color: red;
    }

    .burger  {
        float: right;
        display: none;
        margin: 15px;
        cursor: pointer;
    }

    .burger  div{
        width: 25px;
        height: 2px;
        background-color: black;
        margin: 5px;
    }

/* body */
    .photo img  { 
        float: left;
        width: 100%;;
        hegight: 20%;
        object-fit: cover;
    }
    .contact {
        border: none;
        text-decoration: none;
        text-align: center;
        display: inline-block;
        cursor: pointer;
        font-size: 25px;
    }
    .contact_button{
        border-radius: 30px;
    }
/* project */ 
    .project_image {
        width: 100%;
        text-align: center;
        
    }
    .image_set {
        position: relative;
        display: block;
        margin-left: auto;
        margin-right: auto;
        /* width: 50%; */
    }
    .project_image p {
        display: block;
        font-family: cursive;
        font-size: 20px;
        text-align: center;
    }
    .project_image img{
        width: 350px;
        hegiht: 300px;
        object-fit: cover;
        margin: 20px; 
        text-align: center;
    }

    .image_set img:hover {
        -moz-box-shadow: 0 0 20px #ccc;
        -webkit-box-shadow: 0 0 10px #ccc;
        box-shadow: 0 0 30px #ccc;
    }
/* project Description */
    .aboutMe {
        width: 100%;
        position:relative;
        margin:auto;
    }

    .aboutMe a{
        position:fixed;
    }

    .project {
        display: none;
        text-align: center; 
    }

    .project_desc h5{
        text-align:center;
        font-size: 25px;
    }

    .project img{
        position: relative;
        verticle-align: center;
        margin: auto;
        width: 450px;
        hegith: 400px;
    }
    
    .project li{
        list-style-type: none;

    }
    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -22px;
        color: black;
        font-weight: bold;
        font-size: 25px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }

    .next {
        right: 0;
        border-radius: 3px 0 0 3px; 
    }
/* footer */
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    margin-top: 50px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
}

@media screen and (max-width: 1024px) {


    }
@media screen and (max-width: 760px) {
    body {
        overflow-x: hidden;
    }
    .nav-links{
        display: flex;
        position: absolute;
        width: 100%;
        height: auto;
        left:0;
        /*right:0;*/
        top: 8vh;
        background-color: white;
        flex-direction: column;
     
        align-item: center;
        transform: translate(100%);
        /*opacity: 0.4; */
        transition: transform 0.5s ease-in-out;
    }
    
    .nav-links li {
        padding-bottom: 10px;

    }
    
    .burger {
        display: block;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}